@import "http://fonts.fontstorage.com/import/lato.css";

html {
    font-size: 16px;
}
body {
    background: #fff;
    margin:0;
    padding: 2rem 7% 3rem 15%;
    font-family: Lato, Helvetica, Helvetica Neue, Arial, sans-serif;
    font-size: 1em;
    max-width: 50em;
}

img {
    display: block;
    max-width: 100%;
}
h2 {
    margin-top: 2em;
}
h2 small {
    margin-left: 1em;
}

h2 small a {
    font-weight: normal;
    font-size: .75em;
    margin-left: 1em;
}