@import "http://fonts.fontstorage.com/import/lato.css";

html {
    font-size: 16px;
}
body {
    background: #fff;
    margin:0;
    padding:2rem 2rem 3rem 4rem;
    font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
    font-size: 1em;
    max-width: 50em;
}

img {
    display: block;
    max-width: 100%;
}